:root {
    --main_color: blue;
    --second_color: darkblue;
}

header {
    display: inline;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

.button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

h2,
h3 {
    color: var(--main_color);
}

footer {
    padding: 20px;
    color: white;
    background-color: var(--main_color);
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: var(--main_color);
    text-align: center;
    font-weight: bold;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

div.jumbotron_local {
    padding: 60px;
    background-color: var(--main_color);
    text-align: center;
    font-size: 20px;
    color: white;
}

nav {
    background-color: var(--second_color);
    padding: 5px;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

/* ============================ */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    align-items: center;
}

.grid-item h2 {
    text-align: center;
}

.card_head {
    border-bottom: 5px solid var(--main_color);
}

.wallpaper-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: fill;
    object-position: center;
    padding: 12px;
    margin-left: 12px;
}

.item-sprite {
    max-width: 300px;
    max-height: 300px;
    object-fit: fill;
    object-position: center;
    padding: 12px;
    margin-left: 12px;
}
